body {
  background-color: navy;
}

.container {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: stretch;
  flex-basis: 20%;
  border: solid gold 2px;
  border-radius: 10px;
  margin: 5px;
  min-height: 100px;
  flex-direction: column;
  text-align: center;
}

.backgroundImages {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#happy {
  background-image: url('images/happy.jpg');
}

#soso {
  background-image: url('images/soso.jpg');
}

#sad {
  background-image: url('images/sad.jpg');
}

#angry {
  background-image: url('images/angry.png');
}

/*testing*/

/*.section {
  position: absolute;
  z-index: 0;
  width: 50%;
  height: 50%;
  overflow: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  will-change: transform;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0.2, 0, 1);
          transition-timing-function: cubic-bezier(0.4, 0.2, 0, 1);
}
.section:first-child {
  top: 0;
  left: 0;
  background: #F06060;
}
.section:nth-child(2) {
  top: 0;
  left: 50%;
  background: #FA987D;
}
.section:nth-child(3) {
  top: 50%;
  left: 0;
  background: #72CCA7;
}
.section:nth-child(4) {
  top: 50%;
  left: 50%;
  background: #10A296;
}
.section.is-expanded {
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.has-expanded-item .section:not(.is-expanded) {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.close-section {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  width: 3rem;
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.section.is-expanded .close-section {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 200ms linear 600ms;
  transition: opacity 200ms linear 600ms;
}

body {
  margin: 0;
  font: 16px/1.5 'Roboto Slab', sans-serif;
  background: black;
}

.demo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}*/

/*testing*/
