.container {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: stretch;
  flex-basis: 20%;
  border: solid gold 2px;
  border-radius: 10px;
  margin: 5px;
  min-height: 100px;
  flex-direction: column;
  text-align: center;
}

.backgroundImages {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#happy {
  background-image: url('images/happy.jpg');
}

#soso {
  background-image: url('images/soso.jpg');
}

#sad {
  background-image: url('images/sad.jpg');
}

#angry {
  background-image: url('images/angry.png');
}
